<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/table-headers.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/table-body.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/buttons.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/tabs.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/modal.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/modal-add.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/modal-delete.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/modal-edit.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/errormodal.css"/>
        <title>SSIS</title>
    </head>

<body>
    <div class="header">
        {% include 'navbar.html'%}
    </div>
    
    <div class="upper-container">
        <div class="tabs-container">
            <button class="tab-button" id="college-tab"  onclick="showTab('college')">COLLEGE</button>
            <button class="tab-button" id="course-tab" onclick="showTab('course')">COURSE</button>
            <button class="tab-button" id="student-tab" onclick="showTab('student')">STUDENT</button>
        </div>

        <div class="button-row">
            <div class="delete-button-container">
                <button id="delete-button" class="buttons"disabled>Delete</button>
            </div>

            <div class="edit-button-container">
                <button id="edit-button" class="buttons"disabled>Edit</button>
            </div>

            <div class="add-button-container">
                <button id="add-button" class="buttons" onclick="showAddModal()">Add</button>
            </div>
            
        </div>
    </div>

    <div class="table-container">
        <div id="table-headers" class="table-headers">
            
        </div>
        <div id="table-body" class="table-body">
            
        </div>
    </div>

    <div id="add-modal" class="modal">
        <div class="modal-content">
            <div id="modal-body"></div>
        </div>
    </div>

<div id="delete-confirmation-modal" class="custom-modal">
    <div class="custom-modal-content">
        <p id="confirmation-message">Are you sure you want to delete this item?</p>
        <button id="confirm-delete-button" class="custom-confirm-button">Confirm</button>
        <button id="cancel-delete-button" class="custom-cancel-button">Cancel</button>
    </div>
</div>


<script>
    const students = {{ students|tojson }};
    const courses = {{ courses|tojson }};
    const colleges = {{ colleges|tojson }};
</script>

<script src="/static/js/tabs.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/js/modal.js"></script>
<script src="/static/js/errormodal.js"></script>

</body>
</html>